.boardCellContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 2em !important;

  padding: 10px;

  border-radius: 4px;

  font-size: 1em;
  font-weight: bold;

  color: var(--white);
  background-color: var(--dark-gray);

  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.boardCellContainer:hover {
  filter: brightness(.9);
}

.boardCellContainer[data-disabled="true"] {
  pointer-events: none;
  opacity: .8;
}

.boardCellContainer span[data-neighbors-count='1'] {
  color: var(--blue);
}
.boardCellContainer span[data-neighbors-count='2'] {
  color: var(--green);
}
.boardCellContainer span[data-neighbors-count='3'] {
  color: var(--red);
}
.boardCellContainer span[data-neighbors-count='4'] {
  color: var(--pink);
}
.boardCellContainer span[data-neighbors-count='5'] {
  color: var(--yellow);
}
.boardCellContainer span[data-neighbors-count='6'] {
  color: var(--dark-purple);
}
.boardCellContainer span[data-neighbors-count='7'] {
  color: var(--orange);
}
.boardCellContainer span[data-neighbors-count='8'] {
  color: var(--gray);
}

.boardCellContainer span[data-neighbors-count] {
  text-shadow: 0 0 3px currentColor;
}