.boardCellContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 3.125rem !important;

  padding: 10px;

  border-radius: 4px;

  font-size: 1.2em;
  font-weight: bold;

  color: #fff;
  background-color: #121212;

  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.boardCellContainer:hover {
  filter: brightness(.9);
}

.boardCellContainer[data-disabled="true"] {
  pointer-events: none;
  opacity: .8;
}

.boardCellContainer span[data-neighbors-count='1'] {
  color: #0ab2ff;
}
.boardCellContainer span[data-neighbors-count='2'] {
  color: #40f175;
}
.boardCellContainer span[data-neighbors-count='3'] {
  color: #ff362f;
}
.boardCellContainer span[data-neighbors-count='4'] {
  color: #d220ff;
}
.boardCellContainer span[data-neighbors-count='5'] {
  color: #fcff40;
}
.boardCellContainer span[data-neighbors-count='6'] {
  color: #4333d8;
}
.boardCellContainer span[data-neighbors-count='7'] {
  color: #eea84c;
}
.boardCellContainer span[data-neighbors-count='8'] {
  color: #3b3b3b;
}

.boardCellContainer span[data-neighbors-count] {
  text-shadow: 0 0 3px currentColor;
}